.login-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .login-header p{
    font-size: 20px;
    font-weight: 800;
    opacity: 1;
  }
  .login-header img:first-child{
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.5;
  }
  .login-header img:last-child{
    margin-right: 1rem;
    width: 1.1rem;
    height: 1.1rem;
    opacity: 0.5;
    margin-right: 1rem;
    }