.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}
.swiper-pagination-horizontal {
  opacity: 0.5;
}
.swiper img{
  margin-top: 103px;
  height: 300px;
  width: 100%;
}
.swiper-pagination span{
  position: relative;
  bottom: 20px;
}
.swiper-pagination-bullet {
  background: white !important;
}
.swiper-pagination-bullet-active {
  background: black !important;
}
.swiper-button-prev::after,.swiper-button-next::after{
font-size: 20px !important;
color: black !important;
position: relative;
top: 40px;
}