body {
  margin: 0px;
}

h1 {
  color: var(--color-black);
}

.boder-under {
  border-bottom: thin solid #dedede;
}
.boder-under-border {
  border-bottom: 10px solid var(--color-brightgrey-background);
}
.border-top {
  border-top: thin solid #dedede;
}
.sep {
  height: 10px;
  background-color: #f3f5f7;
  margin: 10px 0px;
}
.product-item-new {
  font-size: 0.8rem;
  color: #0db904;
  font-weight: lighter;
  font-style: italic;
  margin: 0px;
  padding: 5px 0px;
}

.product-item-best {
  font-size: 0.8rem;
  margin: 2px 0px 0px 0px;
  color: #e32208;
  font-weight: bolder;
  font-style: italic;
}
.product-item-new-hidden {
  opacity: 0;
}
.top-arrow-icon {
  transform: rotate(90deg);
}
.membership-firststep-arrow{
  transform: rotate(180deg);
}
.bolder-string{
  font-weight: 600;
  color:var(--color-primary);
}


/*회원가입*/

.clear-close {
  width: 30px;
  margin: 10px;
  padding-top: 5px;
}

.clear-close img {

  width: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  color: #a89e9e;
}

.check-stepline-container {
  width: 100%;
  padding: 16px 0px;
}

.check-stepline-close {
  width: 100%;
}

.check-stepline-close img {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 24px;
  height: auto;
  color: #a89e9e;
}


.check-stepline-number {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-stepline-number p {
  text-align: center;
  vertical-align: center;
  list-style: none;
  background-color: white;
  width: 22px;
  height: 22px;
  border: thin solid #333;
  border-radius: 15px;
  font-size: 0.85rem;
  line-height: 1.6;
}

.check-stepline-number p.active {
  background-color: #333;
  border: none;
  color: white;
}

.check-stepline-number .dash {
  background-color: #333;
  height: 1px;
  width: 10px;
}

.main-agree-submit {
  background-color: rgba(255, 255, 255, 0.893);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  -webkit-box-shadow: -2px 9px 23px -8px #000000;
  box-shadow: -2px 9px 23px -8px #000000;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.main-agree-submit button {
  width: 90%;
  height: 60%;
  padding: 0px;
  background-color: #01A862;
  border: none;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 800;
}

/*맨 아래 버튼*/
.wrap {
  position: relative;
  padding: 30px;
  font-size: 18px;
  line-height: 1.6;
  background: lightgray;
}

.topBtn {
  position: fixed; 
  opacity: 0; 
  bottom: 40px; 
  right: 30px;
  z-index: 100; 
  width: 45px; 
  height: 45px;
  border-radius: 100%;
  border: 0 none;
  background: rgba(253, 253, 253, 0.9);
  color: gainsboro;
  border: 2px solid gray;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.06em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}


.topBtn.active {
  z-index: 10; 
  opacity: 1; 
}

.topBtn:hover,
.topBtn:focus,
.topBtn:active { 
  outline: 0 none; 
}
.topbtn-scroll{
text-align: center;
position: relative;
right:2px;
top:2px
}