/*main-page-event-banner 관련 CSS*/
.main-page-banner {
  margin-top: 104px;
}
.main-page-banner img {
  width: 100%;
  height: auto;
}
/*slide-circle-product-lists 관련 CSS*/
.slide-circle-product__main-title {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 0px;
  margin-left: 10px;
}
section.slide-circle-product-lists {
  padding: 0px 14px;
  margin: 20px 0px;
  height: 240px;
}
.slide-circle-product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  overflow-x: scroll;
}

.slide-circle-product-itemlist {
  width: 150px;
  height: 150px;
  margin: 0px 10px;
  padding: 0px;
}

.slide-circle-item-img {
  border-radius: 100px;
}
.slide-circle-product-item-title {
  line-height: 1.3;
  letter-spacing: 1px;
  width: 100%;
  margin: 0.5rem 0rem;
  font-size: 0.9rem;
  text-align: center;
  font-size: 15px;
}

/*section slide-square-product-lists 관련 CSS*/
section.slide-square-product-lists {
  padding: 0px 14px;
  margin: 15px 0px;
  height: 350px;
}
.slide-square-product__main-title {
  font-size: 20px;
  font-weight: 800;
  margin: 0px 0px 0px 10px;
}
.slide-square-product-item__img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.slide-square-product-list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 310px;
  overflow-x: scroll;
  margin-top: 10px;
}

.slide-square-product-itemlist {
  width: 140px;
  height: 310px;
  margin: 0px 10px;
  padding: 0px;
}

.slide-square-item-img {
  border-radius: 10px;
  width: 150px;
  height: 150px;
}
.slide-square-product-item-title {
  width: 100%;
  margin: 0.2rem 0rem;
}
.slide-square-product-item-title a {
  text-decoration: none;
  color: black;
}
.slide-square-product-item-price {
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem 0rem;
}
.product-item-new-hidden {
  opacity: 0;
}
