.main-mypage {
  padding: 0px 20px 10px 20px;
  background-color: var(--color-brightgrey-background);
  /* box-shadow:  #afafaf inset -2px px 0; */
}
.main-mypage-first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 60px;
}
.main-mypage-first p:first-child {
  font-size: 23px;
  font-weight: 800;
}
.main-mypage-first p:last-child {
  font-size: 12px;
  color: grey;
}
.main-mypage-step {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-mypage-step__product {
  text-align: center;
}
.main-mypage-step__product p:first-child {
  font-size: 30px;
  color: rgb(181, 181, 181);
  font-weight: 800;
  margin: 10px 0px;
}
.main-mypage-step__product p:last-child {
  font-size: 16px;
  margin: 10px 0px;
  font-weight: 700;
}

.main-mypage-step__icon {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 12px;
  color: grey;
}
.main-service {
  background-color: var(--color-brightgrey-background);
}
.main-service-title {
  padding: 20px 0px 10px 20px;
  margin: 0px;
  font-size: 23px;
  font-weight: 800;
}
.main-service-lists {
  padding: 0px 20px 10px 20px;
}
.main-service-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 10px 0px;
}
.main-service-list-item {
  display: flex;
  flex-direction: row;
}
.main-service-list-item img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.main-service-list-item-title {
  font-size: 18px;
}
.main-service-list-arrow {
  width: 30px;
  height: 30px;
}
.change-left-chevron {
  transform: rotate(180deg);
}
.main-page-service-logout {
  padding: 20px 0px 15px 0px;
  text-align: center;
  text-decoration: underline;
}
.main-mypage-nickname-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--color-brightgrey-background);
}
.main-mypage-nickname-title {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 -2px 2px #afafaf inset;
  border-radius: 20px;
  width: 100%;
}
.main-mypage-nickname-title p {
  margin: 0px;
  letter-spacing: 5px;
}
