.order-list-page-title {
  margin-top: 70px;
  font-size: 0.75rem;
  padding: 10px 20px 0px 20px;
}

.order-list-page {
  display: flex;
}

.order-list-page-date {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 0px 20px;
}

.order-img {
  padding: 10px;
}
.order-img img {
  transform: rotate(270deg);
  width: 20px;
  margin: 10px;
}

.order-list-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.order-list-form-title {
  text-align: center;
}

.order-detail-page {
  display: flex;
}

.order-detail-page-date {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  font-size: 1.1rem;
}

.order-detail-img img {
  transform: rotate(180deg);
  width: 20px;
  margin: 20px
}

.order-product-card-wrap {
  border: thin solid #8d8d8d;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0 1rem;
}
.order-product-card-left {
  width: 33%;
  margin: 0px 1rem;
}

.order-detail-page-date p {
  font-weight: bold;
}

.order-detail-page p {
  color: rgb(138, 138, 138);
  font-size: 0.9rem;
  margin-top: 20px;
}

.order-product-card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0px;
}

.order-product-card-left img {
  width: 130px;
  height: 130px;
}
.order-product-card-right {
  margin-left: 10px;
}
.order-product-card-right p{
margin: 8px 0px;
}