.section-main {
  margin-top: 40px;
}
.product-main-info img {
  width: 100%;
}
.product-detail-info img {
  width: 20px;
  height: 20px;
}
.product-detail-main__info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.product-detail-main__title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
}
.product-detail-main__title h2 {
  width: 90%;
  margin: 0px;
  margin-right: 5px;
}
.product-detail-main__title img {
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 0px;
  width: 30px;
  height: 30px;
  position: relative;
  top: 5px;
}
.product-detail-info {
  padding: 20px;
}
.product-detail-info div {
  display: flex;
  justify-content: center;
}
.product-detail-info h2 {
  margin: 0px;
  width: 80%;
}
.product-detail-info img {
  width: 100%;
  height: auto;
}
.boder-under h2 {
  padding: 0px 10px;
}
.product-charge {
  font-size: 30px;
  font-weight: 800;
  margin: 0px;
}
.product-detail-info h3 {
  margin: 5px 2px;
}
/*footer-product-detail CSS*/
.footer-product-detail {
  margin-top: 1rem;
  margin-bottom: 100px;
}
.footer-product-detail img {
  width: 20px;
  height: 20px;
}
.footer-product-checkinfo {
  margin: 0px 20px;
}
.footer-product-checkinfo div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer-product-checkinfo p {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 1rem 0px;
}
.right-arrow {
  transform: rotate(180deg);
}
/*구매할때 수량, 가격 확인 모달창*/
.buy-product-list{
  background-color: var(--color-brightgrey-background);
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
}
.buy-product-list p{
  margin: 0px 0px 20px 0px;
  font-size: 18px;
}
.footer-charge-total-btn {
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  -webkit-box-shadow: -2px 9px 23px -8px #000000;
  box-shadow: -2px 9px 23px -8px #000000;
}

.footer-charge-total-btn img{
  width: 20px;
  height: 20px;                       
}
.buy-product-count button:first-child{
  margin-right: 10px;
}
.buy-product-count button:last-child{
  margin-left: 10px;
}
.buy-product-count-charge{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.buy-product-count{
  display: flex;
  align-items: center;
}
.buy-product-count p{
  text-align: center;
  margin: 0px;
}
.buy-product-count button{
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.buy-product-charge{
  font-size: 25px;
  font-weight: 800;
}
.buy-product-total p{
  display: flex;
  justify-content: end;
  align-items: center;
  font-size:27px;
  font-weight: 800;
  margin: 20px 10px;
  padding: 10px;
}
.footer-charge-total-btn{
  display: flex;
  align-items: center;
}
.footer-charge-total-btn img{
  width: 26px;
  height: 26px;
  padding: 0px 10px;
}

.buy-product-lists {
  width: 100%;
  position: fixed;
  bottom: 5rem;
  background-color: white;
}
.buy-announcement-show{
  background-color: rgb(0, 0, 0,0.9);
  color: white;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  position: absolute;
  z-index: 100;
  top: 90px;
  animation: fadeOut 5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
  
}
