.main-search-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.form-search {
  position: relative;
  width: 100%;
  margin: 10px 0px;
}

.search-item-icon {
  position: absolute;
  width: 20px;
  top: 15px;
  right: 45px;
  margin: 0;
}

.search-item-close {
  position: absolute;
  width: 20px;
  top: 15px;
  right: 5px;
  margin: 0;
}

.search input {
  width: 85%;
  height: 3vh;
  border: none;
  border-radius: 10px;
  padding: 0.8em 0.5em;
  background-color: rgba(246, 246, 246, 0.799);
  font-size: 1.1rem;
}

.search input:focus {
  outline: none;
}
.section-search-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.section-search-tag {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.section-search-tags {
  display: flex;
  justify-content: left;
  flex-direction: row;
  width: 100%;
}
.section-search-tag h3 {
  margin: 15px 2px;
}
.section-search-tags div {
  width: auto;
  height: 1rem;
  background-color: var(--color-primary-btn);
  color: white;
  padding: 0.6em 0.9em;
  margin: 0.3em 0.2rem;
  border-radius: 30px;
}
.search-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*검색어가 있을 경우 해당 태그 사용*/
.section-yessearch-title{
  font-size: 20px;
  color: grey;
  padding: 10px 0px;
}
.section-search-itemList-close{
  width: 16px;
  height: 16px;
}
.section-search-total{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.section-search-contents{
display: flex;
justify-content: space-between;
width: 50%;
min-width: 100px;

}
.section-search-itemList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 10px;
}
.section-yessearch{
  height: 300px;
}